# Supabase Configuration
VITE_SUPABASE_PROJECT_ID=#Project ID of supabase
VITE_SUPABASE_PUBLISHABLE_KEY=#Publisable Key for supabase of new variable for Anon Key 
VITE_SUPABASE_URL=#Supabase url

# Backend API Configuration
VITE_API_URL=#Backend API URL

# Frontend dev server port
VITE_PORT=#Port for Frontend Default is 5173

# Environment
VITE_ENV=
